<div class="container" style="max-width: 500px; margin: auto">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <img height="auto" width="100%" src="assets/img/doe_leite_heloisa.jpg" alt="Amamentai" />
    </div>
  </div>
</div>

<div class="container" style="max-width: 800px; margin: auto">
<div>
      <h2 align="left"><b>Bem Vinda!!</b></h2>
</div>
<div>
  <label>
    O Banco de Leite da Maternidade Escola Assis Chateaubriand está com seu estoque muito baixo!<br>
    Você é muito importante para nós! Seja uma doadora de leite materno!<br>
    <div>
      <br>
      <button pButton routerLink="/doadora/novo" class="ui-g-12 ui-button-info" label="Clique aqui e faça seu cadastro!"></button><br>
      <br>
    </div>
    <br> É rapidinho, só precisamos de alguns dados!
    Após o cadastro, você poderá fazer agendamento para a coleta de suas doações. Iremos buscar na sua casa!
  </label>
  </div>

  <br>

  <div>
    <label><br />Já possui cadastro? Faça aqui seu <button pButton routerLink="/login" class="ui-button-info" label="Login"></button> e agende uma data para a coleta de sua doação na sua casa!</label>
  </div>
</div>

<div class="container" style="max-width: 500px; margin: auto">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <img height="auto" width="100%" src="assets/img/img_doe_leite_materno.png" alt="Amamentai" />
    </div>
  </div>
</div>
