<div class="container">
  <form>
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>
          Novo Agendamento
        </h1>
      </div>

      <div class="ui-g-12 ui-fluid">
          <label>Doadora</label>
          <p-dropdown [options]="doadoras" ></p-dropdown>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Rota</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
          <label>Data</label>
          <p-calendar dateFormat="dd/mm/yy" [readonlyInput]="true"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Objetivo do Agendamento</label>
          <input pInputText type="text">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar"></button>
        <button pButton type="submit" class="ui-button-info" label="Novo"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
