<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>
          Novo Agendamento
        </h1>
      </div>

      <div class="ui-g-12 ui-fluid">
          <label>Banco de Leite</label>
          <p-dropdown [options]="bancos" [filter]="true" name="banco" [autoWidth]="false" placeholder="Selecione um banco de leite" [(ngModel)]="agendamento.banco.id" required></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
          <label>Doadora</label>
          <p-dropdown [options]="doadoras" [filter]="true" name="doadora" [autoWidth]="false" placeholder="Selecione uma doadora" [(ngModel)]="agendamento.doadora.id" required></p-dropdown>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
          <label>Data</label>
          <p-calendar dateFormat="dd/mm/yy" name="data" [readonlyInput]="true" placeholder="Escolha uma data disponível" #dataAgend="ngModel" [(ngModel)]="agendamento.data"></p-calendar>

          <app-message [control]="dataAgend" error="required" text="Informe data do agendamento"></app-message>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Rota</label>
        <p-dropdown [options]="rotas" name="rota" [autoWidth]="false" placeholder="Selecione a rota" [(ngModel)]="agendamento.rota.id" #rota></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Objetivo do Agendamento</label>
          <p-dropdown [options]="objetivos" name="objetivo" [autoWidth]="false" placeholder="Selecione o objetivo" [(ngModel)]="agendamento.objetivo.id" required></p-dropdown>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar"></button>
        <button pButton class="ui-button-info" label="Novo"></button>
        <a routerLink="/agenda">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
