<p-dataTable [value]="doadoras" [paginator]="true" [rows]=15 [responsive]="true">
    <p-column field="nome" header="Nome"></p-column>
    <p-column field="endereco" header="Endereço"></p-column>
    <p-column field="bairro" header="Bairro"></p-column>
    <p-column field="usuario" header="Usuário"></p-column>
    <p-column field="status" header="Status"></p-column>
    <p-column styleClass="col-acao">
        <ng-template pTemplate="body">
          <button pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"></button>
          <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top"></button>
        </ng-template>
    </p-column>
  </p-dataTable>