<nav class="navbar">

  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="fa fa-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">

    <div class="container">
      <div class="ui-g">
        <div class="ui-g-2">
          <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="fa fa-bars"></i></a>
        </div>
      </div>
    </div>

    <li class="navbar-usuario">{{ auth.jwtPayload?.nome }}</li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/agenda">Agendamentos</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/doadora">Doadoras</a></li>
    <li class="navbar-menuitem"><a routerLink="#">Rotas</a></li>
    <li class="navbar-menuitem"><a routerLink="#">Relatórios</a></li>
    <li class="navbar-menuitem" ><a href="javascript:;" (click)="logout()">Logout</a></li>
  </ul>

</nav>
