<div class="container">
    <div class="ui-g-12">
      <div class="ui-g-6">
      
        <img height="auto" width="100%" src="assets/img/vidro_cabe_vidas.jpg"  />
      
      </div>

      <div class="ui-g-12 ui-md-6">
      <ul class="listSteps left">
        <li><b>1.</b> Procure tirar o leite em um lugar limpo e tranquilo da casa.</li>
        <li><b>2.</b> Use potes de vidro com tampa plástica.</li>
        <li><b>3.</b> Ferva os potes por 15 minutos e deixe que sequem sobre um pano limpo.</li>
        <li><b>4.</b> Use uma touca ou um lenço na cabeça.</li>
        <li><b>5.</b> Coloque uma máscara ou amarre uma fralda sobre o nariz e a boca.</li>
        <li><b>6.</b> Lave as mãos e os braços até o cotovelo com bastante água e sabão.</li>
        <li><b>7.</b> Lave as mamas apenas com água.</li>
        <li><b>8.</b> Seque as mamas e as mãos com um pano limpo.</li>
      
      
        <li><b>9.</b> Massageie os seios com a ponta dos dedos, com movimentos circulares, e inicie a coleta diretamente no pote.</li>
        <li><b>10.</b> Encha o pote até faltarem dois dedos para completá-lo e, caso seja necessário, recomece uma nova coleta em outro pote higienizado.</li>
        <li><b>11.</b> Identifique o pote com seu nome e a data em que retirou o leite pela primeira vez. Para completar um pote que já está no congelador, faça a coleta em um copo de vidro e depois despeje no pote.</li>
      </ul>
        <div>
          <button class="ui-g-12 ui-button-info" routerLink="/agenda/novo" pButton label="Quero agendar coleta ou solicitação de kit para coleta"></button>
        </div>
      </div>

      </div>
      
    <div class="ui-g-12 ui-md-6 ui-g-fluid">
      
    </div>
    <div class="ui-g-12 ui-md-6 ui-g-fluid">
      <p class="textDefault2 center">
        Se for a sua primeira doação ou você estiver precisando, <b>solicite
        o kit com o potinho de vidro, uma touca e uma máscara</b> para usar 
        durante a coleta. Levaremos até a sua casa ou você 
        poderá pegar num Banco de Leite Humano mais perto.
      </p>
    </div>
</div>
  
