<div class="container">
    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-6">
      
        <img height="auto" width="100%" src="assets/img/vidro_cabe_vidas.jpg"  />
      
      </div>

      <div class="ui-g-12 ui-md-6">
        <h2>Como Retirar o Leite - Passo a Passo</h2>
        <div><i class="fas fa-check-circle"></i> Procure tirar o leite em um lugar limpo e tranquilo da casa. </div><br>
        <div><i class="fas fa-check-circle"></i> Use potes de vidro com tampa plástica.</div><br>
        <div><i class="fas fa-check-circle"></i> Ferva os potes por 15 minutos e deixe que sequem sobre um pano limpo.</div><br>
        <div><i class="fas fa-check-circle"></i> Use uma touca ou um lenço na cabeça.</div><br>
      
        <div><i class="fas fa-check-circle"></i> Coloque uma máscara ou amarre uma fralda sobre o nariz e a boca.</div><br>
        <div><i class="fas fa-check-circle"></i> Lave as mãos e os braços até o cotovelo com bastante água e sabão.</div><br>
        <div><i class="fas fa-check-circle"></i> Lave as mamas apenas com água.</div><br>
        <div><i class="fas fa-check-circle"></i> Seque as mamas e as mãos com um pano limpo.</div><br>
      
      
        <div><i class="fas fa-check-circle"></i> Massageie os seios com a ponta dos dedos, com movimentos circulares, e inicie a coleta diretamente no pote.</div><br>
        <div><i class="fas fa-check-circle"></i> Encha o pote até faltarem dois dedos para completá-lo e, caso seja necessário, recomece uma nova coleta em outro pote higienizado.</div><br>
        <div><i class="fas fa-check-circle"></i> Identifique o pote com seu nome e a data em que retirou o leite pela primeira vez. Para completar um pote que já está no congelador, faça a coleta em um copo de vidro e depois despeje no pote.</div><br>
      
        <div>
          <button class="ui-g-12 ui-button-info" routerLink="/agenda/novo" pButton label="Quero agendar coleta ou solicitação de kit para coleta"></button>
        </div>
      </div>
      <i class="fas fa-check-circle"></i>
      </div>
      
      <div class="ui-g-6">

      </div>
      
      <!-- <div class="ui-g-6">
        <div class="ui-g-12">
          <p class="textDefault red">
            <strong>Viu como é fácil?</strong>
            Seja uma mãezona, faça a sua doação e diga com muito orgulho:
            <b>eu divido meu leite!</b>
          </p>
        </div>

        <div class="ui-g-12">
              <p class="textDefault2 center">
                Se for a sua primeira doação ou você estiver precisando, <b>solicite <br />
                o kit com o potinho vidro, uma touca e uma máscara</b> para usar <br />
                durante a coleta. Levaremos até a sua casa ou você <br />
                poderá pegar num Banco de Leite Humano mais perto.
              </p>
        </div>
    </div> -->
</div>
  
