<div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Doadoras</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-12">
        <app-doadoras-grid [doadoras]="doadoras"></app-doadoras-grid>
      </div>

      <div class="ui-g-12">
        <button pButton label="Nova Doadora"></button>
      </div>

    </div>
  </div>

