

  <div class="container row" style="max-width: 800px; margin: auto">
    
    <div class="ui-g-12">
      
        
          <div class="ui-g-12">
              <h1 align="left">MITOS x VERDADES</h1>
          </div>
          
          <div class="card ui-g-12" style="width:300px; background-color: #fffc">
            <h4 class="card-title" align="center" >1. A DOAÇÃO PODE INTERFERIR NA AMAMENTAÇÃO DO FILHO?</h4>
            <img class="card-img-bottom" src="assets/img/mito-carimbo-rosa.jpg" alt="Card image" style="width:50%">
            <div class="card-body">
              <p class="card-text"><b>MITO!</b> Pelo contrário. A verdade é que, quanto mais a mãe estimular a produção do leite, mais ela o terá. A ordenha para doação é uma forma de estímulo e, dessa forma, não faltará para o bebê.</p>
            </div>
          </div>

          <div  class="card ui-g-12" style="width:300px">
            <h4 class="card-title" align="center" >2. LEITE MATERNO PODE SER CONGELADO?</h4>
            <img class="card-img-top" src="assets/img/verdade-carimbo-verde.png" align="center" style="width:50%">
            <div class="card-body">
              <p class="card-text"><b>VERDADE</b> O leite materno pode ser congelado por até 15 dias sem a perda de suas características e qualidade nutricional. Dessa forma, a mãe pode ordenhar o leite em casa, tomando os devidos cuidados para isso, e deixá-lo no congelador. Dessa mesma forma, a mãe pode doá-lo para um Banco de Leite Humano (BLH). No caso da doação, o prazo é de 10 dias</p>
            </div>
          </div>
          
          <br>

          <div class="card ui-g-12" style="width:300px">
            <h4 class="card-title" align="center" >3. ALGUMAS MÃES PRODUZEM LEITE MAIS FRACO?</h4>
            <img class="card-img-bottom" height="auto" width="50%" src="assets/img/mito-carimbo-rosa.jpg" alt="Card image" >
            <div class="card-body">
              <p class="card-text"><b>MITO!</b> Nenhum leite materno é fraco, nem de uma mulher desnutrida. A qualidade do leite da mulher desnutrida é tão boa quanto a de uma mulher nutrida. Há também a concepção de que o leite industrializado é mais forte porque o bebê dorme e engorda mais. O bebê acorda mais rápido quando toma o leite materno porque a sua digestão é mais rápida do que a do leite de vaca, mas isso não quer dizer que o leite materno é mais fraco.</p>
            </div>
          </div>
    
          <div  class="card ui-g-12" style="width:300px">
            <h4 class="card-title" align="center" >4. MAMADEIRA E CHUPETA INTERFEREM NO ALEITAMENTO?</h4>
            <img class="card-img-top" src="assets/img/verdade-carimbo-verde.png" alt="Card image" style="width:50%">
            <div class="card-body">
              <p class="card-text"><b>VERDADE</b> Mamadeira e chupeta interferem na amamentação pelo posicionamento da língua do bebê. A sucção do leite no peito requer um esforço maior do que a da mamadeira e da chupeta. Com isso, quando a mãe oferece o peito e os dois apetrechos, o bebê rapidamente descobre que a mamadeira é mais fácil do que o peito. Isso pode implicar na diminuição do estímulo da produção do leite e, consequentemente, a mãe pode não ter a quantidade necessária de leite para a nutrição do bebê.</p>
            </div>
          </div>
          
          <br>

          <div class="card ui-g-6" style="width:300px">
            <h4 class="card-title" align="center" >5. COMPRESSA DE ÁGUA QUENTE AJUDA COM O LEITE EMPREDRADO?</h4>
            <img class="card-img-bottom" src="assets/img/mito-carimbo-rosa.jpg" alt="Card image" style="width:50%">
            <div class="card-body">
              <p class="card-text"><b>MITO!</b> Pelo contrário.  A indicação nesses casos é massagem e ordenha do leite. A compressa de água quente piora a situação, pois aumenta a quantidade de leite retido na mama. Consequentemente, a mãe terá mais leite empedrado.</p>
            </div>
          </div>
    
          <div  class="card ui-g-6" style="width:300px">
            <h4 class="card-title" align="center" >6. ALIMENTAÇÃO DA MÃE REFLETE NO LEITE?</h4>
            <img class="card-img-top" src="assets/img/verdade-carimbo-verde.png" alt="Card image" style="width:50%">
            <div class="card-body">
              <p class="card-text"><b>VERDADE</b> O recomendado é que a mãe tenha uma alimentação saudável e equilibrada. Ela não deve ingerir bebida alcoólica, café em excesso e alimentos muito gordurosos, como o chocolate. No caso do café e do chocolate, a questão não é comer, mas a quantidade que se consome. Um café, pela manhã, faz parte do nosso hábito alimentar e isso não faz diferença ao bebê; porém, pode afetá-lo caso o consumo seja feito em maior quantidade.</p>
            </div>
          </div>

          <br>

          <div class="card ui-g-6" style="width:300px">
            <h4 class="card-title" align="center" >7. LEITE INDUSTRIALIZADO É QUASE COMO O LEITE MATERNO?</h4>
            <img class="card-img-bottom" src="assets/img/mito-carimbo-rosa.jpg" alt="Card image" style="width:50%">
            <div class="card-body">
              <p class="card-text"><b>MITO!</b> Leite materno é singular. O colostro que sai na primeira mamada pode considerado a primeira vacina do bebê. A fórmula atual tem suas qualidades, mas é feita com leite de vaca, que não traz os benefícios do leite materno, como o aumento da imunidade.</p>
            </div>
          </div>
    
          <div  class="card ui-g-6" style="width:300px">
            <h4 class="card-title" align="center" >8. O ESTRESSE PODE ATRAPALHAR A PRODUÇÃO DE LEITE?</h4>
            <img class="card-img-top" src="assets/img/verdade-carimbo-verde.png" alt="Card image" style="width:50%">
            <div class="card-body">
              <p class="card-text"><b>VERDADE</b> Situações de estresse ou nervosismo podem prejudicar a produção de leite. Por isso é importante dar suporte e apoio para que as mães tenham um período de amamentação tranquilo e prazeroso.</p>
            </div>
          </div>

          </div>


          <div class="ui-g-12">
          <div class="card ui-g-6" style="width:300px">
              <h4 class="card-title" align="center" >9. SÓ É POSSÍVEL DOAR UMA GRANDE QUANTIDADE DE LEITE?</h4>
              <img class="card-img-bottom" src="assets/img/mito-carimbo-rosa.jpg" alt="Card image" style="width:50%">
              <div class="card-body">
                <p class="card-text"><b>MITO!</b> Dependendo do peso do bebê prematuro, 1 ml já é o suficiente para nutri-lo a cada vez que ele for alimentado. Por isso, doar qualquer quantidade de leite é importante.</p>
              </div>
          </div>
    
          <div class="card ui-g-6" style="width:300px">
              <h4 class="card-title" align="center" >10. SEIOS PEQUENOS PRODUZEM MENOS LEITE?</h4>
              <img class="card-img-bottom" src="assets/img/mito-carimbo-rosa.jpg" alt="Card image" style="width:50%">
              <div class="card-body">
                <p class="card-text"><b>MITO!</b> O que dá o tamanho dos seios é o tecido gorduroso e não a glândula produtora de leite, portanto, não depende do tamanho ou formato da mama.</p>
              </div>
          </div>

          <br>

          <div class="card ui-g-6" style="width:300px">
              <h4 class="card-title" align="center" >11. PODE DEIXAR OUTRA MULHER AMAMENTAR SEU FILHO, CASO ESTEJA COM POUCO LEITE?</h4>
              <img class="card-img-bottom" src="assets/img/mito-carimbo-rosa.jpg" alt="Card image" style="width:50%">
              <div class="card-body">
                <p class="card-text"><b>MITO!</b> Cada mãe tem que amamentar o seu bebê. O melhor leite para o filho é o da sua mãe. O leite carrega as características de quem amamenta. Assim a criança cria os anticorpos necessários para a sua saúde tomando o leite da mãe. Na amamentação cruzada há o risco de uma doença infecciosa ser transmitida pelo leite. A saída para a mãe que não consegue amamentar é procurar orientação no banco de leite humano.</p>
              </div>
          </div>

          <div  class="card ui-g-6" style="width:300px">
              <h4 class="card-title" align="center" >12. O MINISTÉRIO DA SAÚDE NÃO RECOMENDA AMAMENTAÇÃO CRUZADA?</h4>
              <img class="card-img-top" src="assets/img/verdade-carimbo-verde.png" alt="Card image" style="width:50%">
              <div class="card-body">
                <p class="card-text"><b>VERDADE</b>A prática da "amamentação cruzada" ou "aleitamento cruzado" é contraindicada pelo Ministério da Saúde e pela Organização Mundial da Saúde (OMS). Ela traz riscos ao bebê, pois favorece a transmissão de doenças infectocontagiosas, como HIV/Aids ou Hepatite B, por exemplo. Havendo dúvidas sobre amamentação, busque sempre a orientação em uma unidade de saúde ou um banco de leite.</p>
              </div>
            </div>
      </div>   
      
      <div>
        <label>Fonte:</label>
        <p>http://www.blog.saude.gov.br/index.php/entenda-o-sus/53354-mitos-e-verdades-sobre-a-doacao-de-leite-materno</p>
        <p>http://www.iff.fiocruz.br/index.php/8-noticias/209-mitosleitehumano</p><br/>
      </div>
      
</div>


  