

  <div class="container row" style="max-width: 800px; margin: auto">
    
    <div class="ui-g-12">
      
        
          <div class="ui-g-12">
              <h1 align="left">MITOS x VERDADES</h1>
          </div>
          
          <div class="card ui-g-12" style="width:300px; background-color: #fffc">
            <h4 class="card-title" align="center" >1. A DOAÇÃO PODE INTERFERIR NA AMAMENTAÇÃO DO FILHO?</h4>
            <img class="card-img-bottom" src="assets/img/mito-carimbo-rosa.jpg" alt="Card image" style="width:50%">
            <div class="card-body">
              <p class="card-text"><b>MITO!</b> Pelo contrário. A verdade é que, quanto mais a mãe estimular a produção do leite, mais ela o terá. A ordenha para doação é uma forma de estímulo e, dessa forma, não faltará para o bebê.</p>
            </div>
          </div>

          <div  class="card ui-g-12" style="width:300px">
            <h4 class="card-title" align="center" >2. LEITE MATERNO PODE SER CONGELADO?</h4>
            <img class="card-img-top" src="assets/img/verdade-carimbo-verde.png" align="center" style="width:50%">
            <div class="card-body">
              <p class="card-text"><b>VERDADE</b> O leite materno pode ser congelado por até 15 dias sem a perda de suas características e qualidade nutricional. Dessa forma, a mãe pode ordenhar o leite em casa, tomando os devidos cuidados para isso, e deixá-lo no congelador. Dessa mesma forma, a mãe pode doá-lo para um Banco de Leite Humano (BLH). No caso da doação, o prazo é de 10 dias</p>
            </div>
          </div>
          
          <br>

          <div class="card ui-g-12" style="width:300px">
            <h4 class="card-title" align="center" >3. O LEITE INDUSTRIALIZADO É QUASE COMO O MATERNO?</h4>
            <img class="card-img-bottom" height="auto" width="50%" src="assets/img/mito-carimbo-rosa.jpg" alt="Card image" >
            <div class="card-body">
              <p class="card-text"><b>MITO!</b> O leite materno é singular. Tanto que o colostro, que sai na primeira mamada, pode ser considerado a primeira vacina do bebê. O leite materno é um alimento especialmente personalizado para cada momento da vida de um bebê.</p>
            </div>
          </div>
    
          <div  class="card ui-g-12" style="width:300px">
            <h4 class="card-title" align="center" >4. A ALIMENTAÇÃO DA MÃE REFLETE NO LEITE?</h4>
            <img class="card-img-top" src="assets/img/verdade-carimbo-verde.png" alt="Card image" style="width:50%">
            <div class="card-body">
              <p class="card-text"><b>VERDADE</b> O leite materno pode ser congelado por até 15 dias sem a perda de suas características e qualidade nutricional. Dessa forma, a mãe pode ordenhar o leite em casa, tomando os devidos cuidados para isso, e deixá-lo no congelador. Dessa mesma forma, a mãe pode doá-lo para um Banco de Leite Humano (BLH). No caso da doação, o prazo é de 10 dias</p>
            </div>
          </div>
          
          <br>

          <div class="card ui-g-6" style="width:300px">
            <h4 class="card-title" align="center" >5. A DOAÇÃO PODE INTERFERIR NA AMAMENTAÇÃO DO FILHO</h4>
            <img class="card-img-bottom" src="assets/img/mito-carimbo-rosa.jpg" alt="Card image" style="width:50%">
            <div class="card-body">
              <p class="card-text"><b>MITO!</b> Pelo contrário. A verdade é que, quanto mais a mãe estimular a produção do leite, mais ela o terá. A ordenha para doação é uma forma de estímulo e, dessa forma, não faltará para o bebê.</p>
            </div>
          </div>
    
          <div  class="card ui-g-6" style="width:300px">
            <h4 class="card-title" align="center" >6. LEITE MATERNO PODE SER CONGELADO</h4>
            <img class="card-img-top" src="assets/img/verdade-carimbo-verde.png" alt="Card image" style="width:50%">
            <div class="card-body">
              <p class="card-text"><b>VERDADE</b> O leite materno pode ser congelado por até 15 dias sem a perda de suas características e qualidade nutricional. Dessa forma, a mãe pode ordenhar o leite em casa, tomando os devidos cuidados para isso, e deixá-lo no congelador. Dessa mesma forma, a mãe pode doá-lo para um Banco de Leite Humano (BLH). No caso da doação, o prazo é de 10 dias</p>
            </div>
          </div>

          <br>

          <div class="card ui-g-6" style="width:300px">
            <h4 class="card-title" align="center" >7. A DOAÇÃO PODE INTERFERIR NA AMAMENTAÇÃO DO FILHO</h4>
            <img class="card-img-bottom" src="assets/img/mito-carimbo-rosa.jpg" alt="Card image" style="width:50%">
            <div class="card-body">
              <p class="card-text"><b>MITO!</b> Pelo contrário. A verdade é que, quanto mais a mãe estimular a produção do leite, mais ela o terá. A ordenha para doação é uma forma de estímulo e, dessa forma, não faltará para o bebê.</p>
            </div>
          </div>
    
          <div  class="card ui-g-6" style="width:300px">
            <h4 class="card-title" align="center" >8. LEITE MATERNO PODE SER CONGELADO</h4>
            <img class="card-img-top" src="assets/img/verdade-carimbo-verde.png" alt="Card image" style="width:50%">
            <div class="card-body">
              <p class="card-text"><b>VERDADE</b> O leite materno pode ser congelado por até 15 dias sem a perda de suas características e qualidade nutricional. Dessa forma, a mãe pode ordenhar o leite em casa, tomando os devidos cuidados para isso, e deixá-lo no congelador. Dessa mesma forma, a mãe pode doá-lo para um Banco de Leite Humano (BLH). No caso da doação, o prazo é de 10 dias</p>
            </div>
          </div>
        
      </div>          
</div>


  