/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #717679;
}

detalhe{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #53bacc;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

label{
  font-weight: bold;
}

@media (min-width: 1200px){
  .container{
    width: 1170px;
    margin: 0 auto;
  }
}

.col-banco{
  width: 300px;
  text-align: left;
}

.col-doadora{
  width: 300px;
  text-align: left;
}

.col-data{
  width: 120px;
  text-align: center;
}

.col-status{
  width: 90;
  text-align: left;
}

.col-acao{
  width: 90px;
  text-align: center;
}

