<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()">

    <div class="ui-g-12">
      <h1>Agendamentos</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Doadora</label>
      <input pInputText type="text" name="doadoraNome" [(ngModel)]="filtro.doadoraNome">
    </div>

    <div class="ui-g-12">
      <label style="display:block">Data</label>
      <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }" name="dataAgenda"
        [(ngModel)]="filtro.dataAgenda"></p-calendar>
    </div>

    <div class="ui-g-12">
      <button pButton class="ui-button-info" type="submit" label="Pesquisar"></button>
    </div>

    </form>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-12">
        <p-dataTable [value]="agendamentos" [paginator]="true" [rows]="filtro.itensPorPagina"
              [responsive]="true" emptyMessage="Nenhum agendamento encontrado" [lazy]="true" [totalRecords]="totalRegistros"
              (onLazyLoad)="aoMudarPagina($event)">
            <p-column header="Data" styleClass="col-data">
                <ng-template let-agend="rowData" pTemplate="body">
                    <span>{{ agend.dataAgenda }}</span>
                </ng-template></p-column>
            <p-column field="doadoraNome" header="Doadora"></p-column>
            <p-column field="objetivo" header="Objetivo"></p-column>
            <p-column field="rota" header="Rota"></p-column>

            <p-column field="status" header="Status" styleClass="col-status">
                <ng-template let-agend="rowData" pTemplate="body">
                    <span [style.color]="agend.status === 'CONFIRMADO' ? 'green' :
                                              agend.status === 'CANCELADO' ? 'red' :
                                              agend.status === 'SOLICITADO' ? 'blue' :
                                              'black'">{{agend.status}}</span>
                </ng-template>
            </p-column>
            <p-column styleClass="col-acao">
                <ng-template pTemplate="body">
                  <button pButton icon="fas fa-calendar-check" class="ui-button-info icon-calendar-check" pTooltip="Confirmar Agendamento" tooltipPosition="top"></button>
                  <button pButton icon="fas fa-calendar-times" class="ui-button-info icon-calendar-reject" pTooltip="Cancelar Agendamento" tooltipPosition="top"></button>
                </ng-template>
            </p-column>
          </p-dataTable>

    </div>

    <div class="ui-g-12">
      <button pButton class="ui-button-info" label="Novo Agendamento"></button>
    </div>

  </div>
</div>

